<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finupgroup.postloan.evaluate.mapper.repay.RepayCaseManageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.finupgroup.postloan.evaluate.entity.repay.RepayCaseManage">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="account_type" property="accountType" />
        <result column="bill_date" property="billDate" />
        <result column="collection_methods" property="collectionMethods" />
        <result column="collection_status" property="collectionStatus" />
        <result column="collection_user_id" property="collectionUserId" />
        <result column="collection_user_name" property="collectionUserName" />
        <result column="contract_code" property="contractCode" />
        <result column="customer_id" property="customerId" />
        <result column="distribution_status" property="distributionStatus" />
        <result column="final_trial_desc" property="finalTrialDesc" />
        <result column="first_trial_desc" property="firstTrialDesc" />
        <result column="last_repay_date" property="lastRepayDate" />
        <result column="lend_phase" property="lendPhase" />
        <result column="loan_amount" property="loanAmount" />
        <result column="loan_interest" property="loanInterest" />
        <result column="loan_principal" property="loanPrincipal" />
        <result column="loan_purpose" property="loanPurpose" />
        <result column="monthly_repay" property="monthlyRepay" />
        <result column="monthly_total_rate" property="monthlyTotalRate" />
        <result column="now_overdue_status" property="nowOverdueStatus" />
        <result column="organization" property="organization" />
        <result column="overdue_status" property="overdueStatus" />
        <result column="overdue_total" property="overdueTotal" />
        <result column="inhouse_target" property="inhouseTarget" />
        <result column="pass_time" property="passTime" />
        <result column="period" property="period" />
        <result column="product_name" property="productName" />
        <result column="repay_status" property="repayStatus" />
        <result column="repay_status_time" property="repayStatusTime" />
        <result column="request_id" property="requestId" />
        <result column="core_request_id" property="coreRequestId" />
        <result column="salespeople" property="salespeople" />
        <result column="service_user_id" property="serviceUserId" />
        <result column="signed_amount" property="signedAmount" />
        <result column="status" property="status" />
        <result column="store_city" property="storeCity" />
        <result column="store_id" property="storeId" />
        <result column="store_name" property="storeName" />
        <result column="store_province" property="storeProvince" />
        <result column="surplus_principal" property="surplusPrincipal" />
        <result column="auto_deduct" property="autoDeduct" />
        <result column="distribution_date" property="distributionDate" />
        <result column="department_id" property="departmentId" />
        <result column="init_surplus_principal" property="initSurplusPrincipal" />
        <result column="init_overdue_total" property="initOverdueTotal" />
        <result column="c_m" property="cM" />
        <result column="follow_up" property="followUp" />
        <result column="seller" property="seller" />
        <result column="seller_name" property="sellerName" />
        <result column="submiter" property="submiter" />
        <result column="submiter_name" property="submiterName" />
        <result column="sell_group" property="sellGroup" />
        <result column="sell_group_name" property="sellGroupName" />
        <result column="bigdata_no" property="bigdataNo" />
        <result column="queue_code" property="queueCode" />
        <result column="os_queue_code" property="osQueueCode" />
        <result column="is_new_case" property="isNewCase" />
        <result column="call_type" property="callType" />
        <result column="this_cycle" property="thisCycle" />
        <result column="decision_code" property="decisionCode" />
        <result column="decision_score" property="decisionScore" />
        <result column="main_id" property="mainId" />
        <result column="channel_id" property="channelId" />
        <result column="is_special_queue" property="isSpecialQueue" />
        <result column="is_deposit" property="isDeposit" />
        <result column="is_outsourcing" property="isOutsourcing" />
        <result column="is_fraud" property="isFraud" />
        <result column="new_case_flag" property="newCaseFlag" />
        <result column="light_over_due_end_date" property="lightOverDueEndDate" />
        <result column="is_light_over_due" property="isLightOverDue" />
        <result column="ptp_time" property="ptpTime" />
        <result column="special_outsrc_id" property="specialOutsrcId" />
        <result column="loan_channel_type" property="loanChannelType" />
        <result column="signed_date" property="signedDate" />
        <result column="allocation_status" property="allocationStatus" />
        <result column="whether_upd_light_date" property="whetherUpdLightDate" />
        <result column="ma_prediction" property="maPrediction" />
        <result column="handle_prediction" property="handlePrediction" />
        <result column="is_advanceOut" property="isAdvanceout" />
        <result column="label" property="label" />
        <result column="score" property="score" />
        <result column="special_settle_qualification" property="specialSettleQualification" />
        <result column="label2" property="label2" />
        <result column="score2" property="score2" />
        <result column="out_sourcing_allocation_status" property="outSourcingAllocationStatus" />
        <result column="inflow_time" property="inflowTime" />
        <result column="extension_flag" property="extensionFlag" />
        <result column="case_report_id" property="caseReportId" />
        <result column="case_level" property="caseLevel" />
        <result column="m2_old_extraction" property="m2OldExtraction" />
        <result column="collection_record_time" property="collectionRecordTime" />
        <result column="case_unit_flow_id" property="caseUnitFlowId" />
        <result column="customer_group_id" property="customerGroupId" />
        <result column="keep_in_store" property="keepInStore" />
        <result column="fancard_id" property="fancardId" />
        <result column="collection_mode_id" property="collectionModeId" />
        <result column="strategy_id" property="strategyId" />
        <result column="strategy_begin_date" property="strategyBeginDate" />
        <result column="strategy_end_date" property="strategyEndDate" />
        <result column="strategy_task" property="strategyTask" />
        <result column="strategy_code" property="strategyCode" />
        <result column="dept_prorate_id" property="deptProrateId" />
        <result column="kase_package_id" property="kasePackageId" />
        <result column="last_rollback_time" property="lastRollbackTime" />
    </resultMap>

</mapper>
